@media (min-width: 360px) {
  .calculation-container{
    margin: 0 20px;
    height: 100vh;
    font-family: Space Grotesk;

    // Salary data collection form
  
    .income-wrapper{
      height: 100px;
      background-color:#ffff;
      border-radius: 30px;
      padding: 30px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 20px;
      .income-input-wrapper{
        // background-color: lightblue;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
          font-weight: 600;
          font-size: .9rem;
          color: #71717a;
          margin: 0;
        }
      }
      .input-container{
        // background-color: lightcoral;
        h1{
          font-size: 3rem;
          margin: 0;
        }
      }
    }
  

    // Expenses Data Collection Form

    .expenses-input-wrapper{
      background-color:#ffff;
      border-radius: 30px;
      padding: 30px 30px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      .expenses-title-div{
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        p{
          margin: 0;
          font-weight: 600;
          font-size: .9rem;
          color: #71717a;
        }
      }
      form{
        margin-bottom: 30px;
        .form-inputs{
          display: flex;
          // background-color: red;
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 15px;
          aspect-ratio: 0/1;
          .expenses-input-set{
            display: flex;
            justify-content: space-between;
          }
          
          .expenses-title{
            height: 50px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 15px;
            text-indent: 20px;
            width: 40%;
            // padding-left: 10px;
          }
          .expenses-title::placeholder{
            color: white;
            font-size: .9rem;
          }
          .expenses-amount{
            height: 50px;
            width: 50%;
            // padding-left: 10px;
            border-radius: 15px;
            border-width: 1.7px;
            text-indent: 20px;
          }
        }
      }
    }

    .add-button-div{
      display: flex;
      justify-content: flex-end;
      .add-button{
        background-color: #18181b;
        color: white;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        font-family: Space Grotesk;
        font-size: 1.5rem;
      }
    }
  }
}


