.body{
  font-family: Space Grotesk;
}

@media (min-width: 360px) {
  .component-container{
    width: 100%;
    background-color: #e4e4e7;
    font-family: Space Grotesk;

    // ******************************* Hero Section
    
    .hero-section{
      background-color: #000000;
      background: #000000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      color: #f9fafb;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      padding: 20px 20px;
      margin-bottom: 450px;
      height: 80vh;


      // ***************************** Navigation Bar
      
      nav{   
        margin-bottom: 280px; 
        display: flex;  
        justify-content: space-between;
        .logo{
          height: 30px;
        }
        .links{
          visibility: hidden;
        }
      }

      main{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;


        // ************************ Hero Left Section

        .left-section{
          // background-color: yellow;
          h1{
            color: #ffffff;
            line-height: 49px;
            margin: 0;
            // font-weight: 100;
            font-size: calc(2.7rem + 2.5vw);margin-bottom: 20px;
          }
  
          p{
            margin: 0;
            font-size: 1.2rem;
            font-weight: 300;
            margin-bottom: 80px;
            color:  #d1d1d1;
          }
  
          .button-wrapper{
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
            button{
              background-color: #ff3b30;
              border: none;
              padding: 20px 0;
              width: 170px;
              border-radius: 14px;
              font-family: Space Grotesk;
              font-weight: 700;
              font-size: 1.1rem;
              color: white;
            }
          }
        }


        // ************************** Hero Right Section

        .right-section{
          // background-color: blue;
          .hero-image-wrapper{
            margin: 0;
            // background-color: rgba($color: #ffffff, $alpha: 1);
            height: 50vh;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(96, 96, 96, 0.25);
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 2px solid rgba( 255, 255, 255, 0.18 );
            padding: 0 20px;

            .hero-image{
              width: 100%;
            }
          }
        }
      }
    }


    // ****************************** Description Section

    .description-wrapper{
      padding: 20px 20px;
      margin-bottom: 70px;


    // ********************************* Description Left

      .description-left{
        // background-color: green;
        margin-bottom: 30px;
        h1{
          font-size: calc(2.7rem + 2.5vw);margin-bottom: 20px;
          line-height: 60px;
          margin: 0;
          margin-bottom: 40px;
        }
  
        p{
          margin-bottom: 40px;
        }
  
        button{
          background-color: #ff3b30;
          border: none;
          padding: 20px 0;
          width: 170px;
          border-radius: 14px;
          font-family: Space Grotesk;
          font-weight: 700;
          font-size: 1.1rem;
          color: rgb(255, 255, 255);
          margin-bottom: 60px;
        }
      }

    // **************************** Description Right

      .description-right{
        // background-color: blue;
        .description-image{
          width: 100%;
        }
      }
    }


    // *********************************** Divider

    .divider{
      display: flex;
      justify-content: center;
      
      h2{
        margin: 0;
        color: transparent;
      }
    }
  }
}


// ********************************************************** Large Screen

@media (min-width: 768px) {
  .component-container{
    .hero-section{
      padding: 70px 120px;
      height: 83vh;
      // border-bottom-left-radius: 50px;
      // border-bottom-right-radius: 50px;
      margin: 0;
      margin-bottom: 40px;

      nav{
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        .logo{
          height: 40px;
        }
        .links{
          display: flex;
          align-items: center;
          gap: 10px;
          visibility: visible;
          
          .link-button{
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: transparent;
            color: rgb(255, 255, 255);
            font-family: Space Grotesk;
            font-size: .9rem;
            letter-spacing: 1px;
            cursor: pointer;
            transition: .2s ease-in-out;
          }

          .link-button:hover{
            background-color: #ff3b30
          }
        }
      }
      .main{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 80%;

        .left-section{
          flex: 1.5;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          h1{
            line-height: 70px;
            margin: 0;
            margin-bottom: 30px;
            font-size: 5rem;
            
          }

          p{
            font-size: 1.2rem;
            width: 600px;
          }

          .button-wrapper{
            justify-content: flex-start;
          }
        }
        .right-section{
          flex: 1;
          display: flex;
          align-items: center;
          height: 100%;
          justify-content: flex-end;


          .hero-image-wrapper{
            margin: 0;
            height:100%;
            width: 100%;
            
          }
          .hero-image{
            width: 90%;
            object-fit: cover;
            object-position: center;
            // width: 90%;
          }
        }
      }
    }

    // .sub-hero-section{
    //   margin-top: 200px;
    //   height: 1000px;
    //   .sub-image{
    //     height: 100%;
    //   }
    // }


    .description-wrapper{
      margin: 0;
      padding: 70px 150px;
      display: flex;
      justify-content: space-between;
      height: 70vh;
      margin-bottom: 80px;
      .description-left{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
          line-height: 80px;
          margin: 0;
          margin-bottom: 30px;
        }
        p{
          width: 450px;
          margin: 0;
          margin-bottom: 60px;
        }
        button{
          margin: 0;
        }
      }
      .description-right{
        display: flex;
        align-items: center;
        flex: 1;
        .description-image{
          height: 80%;
        }
      }
    }

    .divider{
      h2{
        color: transparent;
      }
    }
  }
}