@media (min-width: 360px) {
  .component-container{
    width: 100vw;
    background-color: #e4e4e7;
    font-family: Space Grotesk;

    
    .hero-section{
      background-color: #000000;
      background: #000000;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      color: #f9fafb;
      height: 80vh;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      padding: 20px 20px;
      
      nav{
        .logo{
          width: 70px;
        }
      }



      main{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
          color: #ffffff;
          line-height: 49px;
          margin: 0;
          // font-weight: 100;
          font-size: calc(2.7rem + 2.5vw);margin-bottom: 20px;
        }
        p{
          margin: 0;
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 80px;
          color:  #a1a1aa;
        }
        .button-wrapper{
          display: flex;
          justify-content: center;
          button{
            background-color: #ff3b30;
            border: none;
            padding: 20px 0;
            width: 170px;
            border-radius: 60px;
            font-family: Space Grotesk;
            font-weight: 700;
            font-size: 1.1rem;
            color: white;
          }
        }
      }
    }


    // Sub-Section 

    .sub-hero-section{
      background-color: rgba($color: #ffffff, $alpha: 1);
      height: 50vh;
      border-radius: 20px;
      margin: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -80px;
      background: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      margin-bottom: 70px;
      .sub-image{
        width: 100%;
      }
    }
  }
}