@media (min-width:360px) {
  .footer-container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    padding: 30px 30px;
    padding-top: 60px;
    
    h1{
      color:#000;
      margin: 0;
      margin-bottom: 40px;
    }

    form{
      display: flex;
      flex-wrap: wrap;
      
      .label-1,.label-2,.label-3{
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
  
      .input-1,.input-2,{
        width: 100%;
        height: 40px;
        border-radius: 8px;
        border-width: 1px;
        margin-bottom: 20px;
        background-color: transparent;
        padding-left: 20px;
        text-indent: 20px;
      }
  
      .input-3{
        padding: 20px 20px;
        margin-bottom: 50px;
        height: 200px;
        background-color: transparent;
        resize: none;
      }
  
      .submit-button{
        width: 150px;
        height: 60px;
        margin-bottom: 100px;
        border-radius: 10px;
        border: none;
        background-color: #000;
        color: #fff;
        font-size: 1.1rem;
      }
    }

    .vibe-coder{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;

      .contact{
        display: flex;
        gap: 15px;
        
        .icon-link{
          
          .icon{
            filter: invert(100%);
            height: 30px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .footer-container{
    padding: 70px 70px;
    // background-color: red;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-wrapper{
      // background-color: pink;
      display: flex;
      width: 100%;
      gap: 30px;

      .form-input{
        flex: 1;
        height: 80%;
        form{
          width: 100%;
          display: flex;
          flex-direction: column;
  
          .input-1, .input-2, .input-3{
            width: 100%;
            padding: 0;
          }
          .input-3{
            padding: 20px 20px;
          }
          .submit-button{
            margin: 0;
            cursor: pointer;
          }

          .submit-button:hover{
            background-color: rgb(49, 49, 49);
          }
        }
      }
  
  
  
      .vibe-coder{
        background-color: white;
        display: flex;
        flex: 2;
        padding: 0;  
        margin: 0;
        justify-content: flex-end;
        align-items: flex-start;
        padding-left: 100px;
      }

    }
  }
}