@media (min-width:360px) {
  .footer-container{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    padding: 30px 30px;
    padding-top: 60px;
    
    h1{
      color:#000;
      margin: 0;
      margin-bottom: 40px;
    }

    form{
      display: flex;
      flex-wrap: wrap;
      
      .label-1,.label-2,.label-3{
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
  
      .input-1,.input-2,{
        width: 100%;
        height: 40px;
        border-radius: 8px;
        border-width: 1px;
        margin-bottom: 20px;
        background-color: transparent;
        padding-left: 20px;
        text-indent: 20px;
      }
      .input-3{
        padding: 20px 20px;
        margin-bottom: 50px;
        height: 200px;
        background-color: transparent;
        border-radius: 8px;
        resize: none;
      }
      .submit-button{
        width: 150px;
        height: 60px;
        margin-bottom: 100px;
        border-radius: 10px;
        border: none;
        background-color: #000;
        color: #fff;
        font-size: 1.1rem;
      }
    }
    .vibe-coder{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      .contact{
        display: flex;
        gap: 15px;
        
        .icon-link{
          
          .icon{
            filter: invert(100%);
            height: 30px;
          }
        }
      }
    }
  }
}

// @media (min-width: 768px) {
//   .footer-container{
//     padding: 70px 70px;
//     // background-color: red;
//     height: 80vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .footer-wrapper{
//       // background-color: pink;
//       display: flex;
//       width: 100%;
      

//       .form-input{
//         flex: 1;
//         height: 80%;
//         form{
//           width: 100%;
//           display: flex;
//           flex-direction: column;
  
//           .input-1, .input-2, .input-3{
//             width: 100%;
//             padding: 0;
//           }
//           .input-3{
//             padding: 20px 20px;
//           }
//           .submit-button{
//             margin: 0;
//             cursor: pointer;
//           }
//           .submit-button:hover{
//             background-color: rgb(49, 49, 49);
//           }
//         }
//       }
  
  
  
//       .vibe-coder{
//         // background-color: rgb(0, 255, 47);
//         display: flex;
//         flex: 2;
//         padding: 0;  
//         margin: 0;
//         justify-content: flex-end;
//         align-items: flex-start;
//         padding-left: 100px;        
//         p{
//           margin: 0;
//         }
//       }

//     }
//   }
// }


@media (min-width: 768px) {

  .footer-container{
    height: 90vh;
    display: flex;
    align-items: center;

    .footer-wrapper{
      height: 80%;
      width: 1100px;
      margin: 0;

      .header{
        color: black;
        font-size: 3rem;
        font-weight: 700;
        margin: 0;
      }

      .form {
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 30px;
      }
      .form > div {
        display: flex; 
        flex-basis: calc(50% - 40px);  
        // flex: 1;
        flex-direction: column;
      }
      .form > div > div {
        display: flex;
        flex-direction: column;
        height: 100%;

        // background-color: yellow;

        .label-1, .label-2, .label-3{
          font-size: 1.2rem;
          margin: 0;
          margin-right: 20px;
          font-weight: 600;
          margin-bottom: 15px;
        }

        .input-1, .input-2{
          height: 40px;
          width: 1005;
          border-radius: 6px;
          text-indent: 10px;
          background-color: transparent;
          border-width: 1px;
        }

        .message-wrapper{
          display: flex;
          flex-direction: column;

          .input-3{
            height: 180px;
            // padding: 10px
            resize: none;
            margin-bottom: 30px;
            border-radius: 10px;
            background-color: transparent;
            border-width: 1px;
          }

          .submit-button{
            width: 120px;
            height: 50px;
            border-radius: 8px;
            background-color: #000;
            color: #fff;
            font-size: 1.1rem;
            border: none;
          }
        }

        .vibe-coder{
          // background-color: yellow;
          height: 100%;
          display: flex;
          margin: 0;
          flex-direction: row-reverse;
          gap: 60px;
          justify-content: flex-start;
          align-items: flex-end;

          .contact{
            // background-color: red;
            display: flex;
            align-items: flex-end;
          }

          .me{
            margin: 0;
          }
        }
      }
      
      .box { margin: 10px; }
      // .box1 { background-color: red; }
      // .box2 { background-color: orange; }
      // .box3 { background-color: purple; }
      // .box4 { background-color: grey; }
    }
  }
}